body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #87CEEB, #001f3f);
}

#divFormulario{
    height: 80vh;
    width: 60vh;
    margin-left: 67.5vh;
    margin-top: 3vh;
    background-color: white;
    border-radius: 15px;
}

#titulo{
    margin-top: 10px;
    margin-left: 8px;
}

#instrucciones{
    margin-top: 20px;
    margin-left: 8px;
}

label{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    font-weight: bolder;
}

input{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    width: 90%;
    height: 5vh;
}

#submitBoton{
    margin-top: 10px;
    width: 50%;
    margin-left: 25%;
    background-color: #87CEEB;
    color: white;
    border-color: white;
    height: 6vh;

    transition: all 0.4s ease;
}

#submitBoton:hover{
    width: 52%;
    background-color: white;
    color: #87CEEB;
    border-color:#87CEEB;
    height: 8vh;
}

#logo{
    margin-top: 2%;
    margin-left: 1%;
    width: 98%;
    height: 20vh;
}

#parrafoRegistro{
    margin-left: 50%;
}

#parrafoOlvidaste{
    margin-left: 35%;
}

#inputsCodigo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* cada cajita */
.code-box {
    width: 45px;
    height: 55px;
    font-size: 24px;
    text-align: center;

    border: 2px solid #ced4da;
    border-radius: 8px;

    outline: none;
    transition: all 0.2s ease-in-out;
}

/* efecto cuando se selecciona */
.code-box:focus {
    border-color: #0d6efd; /* bootstrap primary */
    box-shadow: 0 0 6px rgba(13, 110, 253, 0.4);
    transform: scale(1.05);
}

/* opcional: evitar scroll feo en móviles */
.code-box::-webkit-outer-spin-button,
.code-box::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#verificarCodigo{
    margin-left:40%;
}

#instrucciones2{
    margin-left: 5px;
}