{% extends "base.html" %}

{% block title %} Login {% endblock %}
{% load static %}
{% block css_extra %} 
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock %}
{% block content %} 

<div id="divFormulario">
 <h3 id="titulo"> Registrate a Lavanderia Flores</h3>

 <p id="instrucciones">
    Ingrese los datos solicitados
</p>

</br>

<form method="POST">
    {% csrf_token %}
    <label for="pass"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
  <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
  <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
</svg>
        Contraseña: </label></br>
    <input type="password" id="pass" name="pass"></br>

        <label for="pass2"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
  <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
  <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
</svg>
        Repetir contraseña: </label></br>
    <input type="password" id="pass2" name="pass2"></br>
    <input type="submit" value="Cambiar contraseña" id="submitBoton"> 
</form>
<p id="parrafoRegistro">
    ¿Ya tienes cuenta? Ingresa <a href="{%url 'login'%}">aquí.</a>    
</p>
{%if error%}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" bis_skin_checked="1">
  <strong>Error!</strong> {{error}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
</div>

{% endblock %}